# Godot 4+ specific ignores
.godot/

bin/*.so
bin/*.dll
bin/*.lib
bin/*.exp
bin/*.framework

release-Android/
release-iOS/
release-Windows/
release-macOS/

# Android debug key
debug.keystore

# VS
.vs/
